<div id="<%= dom_id camion %>">
  <p>
    <strong>Posicion:</strong>
    <%= camion.posicion %>
  </p>

  <p>
    <strong>Patente:</strong>
    <%= camion.patente %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= camion.tipo %>
  </p>

  <p>
    <strong>Lista:</strong>
    <%= camion.lista %>
  </p>

  <p>
    <strong>Conductor:</strong>
    <%= camion.conductor %>
  </p>

  <p>
    <strong>Punto:</strong>
    <%= camion.punto %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= camion.estado %>
  </p>

  <p>
    <strong>Scraped at:</strong>
    <%= camion.scraped_at %>
  </p>

</div>
